<div class="dashboard-page">
  <div class="grid-container">

    <%# GRID LEFT %>
    <div class="grid-left m-4" id="grid-left-dashboard">

      <% if flash[:alert] %>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <%= flash[:alert] %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
      <% if flash[:notice] %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= flash[:notice] %>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>

      <div class="header d-flex justify-content-between my-2 mx-3">
        <h2 class="text-center">MY GAMES</h2>
        <button type="button" class="button-add" data-bs-toggle="modal" data-bs-target="#addItemModal">
          <span><i class="fa-solid fa-plus me-2"></i>ADD GAME</span>
        </button>
      </div>

      <div class="cards-section">
        <% @items.each do |item| %>
          <div class="card"
                role="button"
                data-bs-toggle="modal"
                data-bs-target="#editItemModal-<%= item.id %>">
            <div class="card-platform">
              <p>
                <i class="<%= platform_icon(item.platform) %>"></i>
                <%= item.platform %>
              </p>
            </div>
            <% if item.photo.key %>
              <%= cl_image_tag item.photo.key %>
            <% end %>

            <div class="card-title">
              <h2><%= item.title %></h2>
              <%= link_to item_path(item),
                data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                class: "card-button",
                id: "delete-button" do %>
                  <i class="fa-solid fa-xmark"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <%# GRID RIGHT %>
    <div class="grid-right" id="grid-right-dashboard">
      <div class="m-4">
        <%# <span>USERNAME</span>
        <h2> <%= @user.username %> </h2>
        <h2>OFFERS</h2>

        <hr>
        <span>RECEIVED</span>
        <hr>
          <% @offers_received.each do |offer| %>
          <div class="offer-received mb-2">
            <%# IMAGE %>
            <% if offer.item.photo.attached? %>
              <%= cl_image_tag offer.item.photo.key, height: 60, width: 50, crop: :fill, class: "rounded border border-black border-1" %>
            <% else %>
              <%= image_tag "placeholder_game.jpg", height: 60, width: 50, crop: :fill, class: "rounded border-black border-1" %>
            <% end %>

            <%# TITLE & DATES %>
            <div class="offer-header-dates d-flex flex-column justify-content-center text-start align-items-start">
              <h2> <%= offer.item.title.truncate(20) %> </h2>
              <p> <%= offer.comment.truncate(20) %> </p>
              <span> <%= offer.start_date %> / <%= offer.end_date %></span>
            </div>
            <%# COMMENT & BUTTONS %>


            <%# BUTTONS %>
            <div class="offer-buttons d-flex justify-content-center align-items-center">
              <%= link_to offer_path(offer, accepted: true),
                      data: { turbo_method: :patch } do %>
                <i class="fa-solid fa-thumbs-up mx-1
                  <%= offer.accepted == true ? 'icon-green' : offer.accepted.nil? ? 'icon-grey' : '' %>"></i>
              <% end %>
              <%= link_to offer_path(offer, accepted: false),
                      data: { turbo_method: :patch } do %>
                <i class="fa-solid fa-thumbs-down mx-1
                  <%= offer.accepted == false ? 'icon-red' : offer.accepted.nil? ? 'icon-grey' : '' %>"></i>
              <% end %>
            </div>
          </div>
        <% end %>

        <hr>
        <span>SENT</span>
        <hr>
          <% @offers_made.each do |offer| %>
            <%# IMAGE %>
             <div class="offer mb-2">
               <% if offer.item.photo.attached? %>
                  <%= cl_image_tag offer.item.photo.key, height: 60, width: 50, crop: :fill, class: "rounded border border-black border-1" %>
                <% else %>
                  <%= image_tag "placeholder_game.jpg", height: 60, width: 50, crop: :fill, class: "rounded border-black border-1" %>
                <% end %>
                <%# TITLE & DATES %>
                <div class="offer-header-dates d-flex flex-column justify-content-center text-start align-items-start">
                  <h2><%= offer.item.title.truncate(20) %></h2>
                  <% if offer.accepted == nil %>
                    <span>pending</span>
                  <% elsif offer.accepted == true %>
                    <span>accepted</span>
                  <% else %>
                    <span>denied</span>
                  <% end %>
                </div>
                  <%# DELETE ICON %>
                <%= link_to offer_path(offer), class: "d-flex justify-content-center align-items-center", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
                  <i class="fa-regular fa-trash-can"></i>
                <% end %>

             </div>
          <% end %>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addItemModal" tabindex="-1" aria-labelledby="addItemModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg"> <%# modal-lg для большей ширины, modal-dialog-centered для центрирования по вертикали %>
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addItemModalLabel">Add a new game to your collection</h5>
        <%# <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> %>
      </div>
      <div class="modal-body">
        <%# Рендерим наш частичный шаблон формы _form.html.erb %>
        <%# 'item: @item || Item.new' передает либо существующий @item (если он пришел с ошибками после неудачной отправки), либо новый пустой Item %>
        <%= render 'items/form', item: @item || Item.new %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <%# Кнопка "Отправить" находится внутри формы, поэтому здесь она не нужна %>
      </div>
    </div>
  </div>
</div>

<% @items.each do |item| %>
<div class="modal fade" id="editItemModal-<%= item.id %>" tabindex="-1" aria-labelledby="editItemModalLabel-<%= item.id %>" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editItemModalLabel-<%= item.id %>">Edit the game: <%= item.title %></h5>
        <%# <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"</button> %>
      </div>
      <div class="modal-body">
        <turbo-frame id="edit_item_form_<%= item.id %>" src="<%= edit_item_path(item, format: :turbo_stream) %>">
          <%# Показываем заглушку, пока форма загружается %>
          <p>Загрузка формы...</p>
        </turbo-frame>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<% end %>
