<h1>Helloooooow Gamers</h1>

<h2> Rented items </h2>

<%= link_to "Add new item", new_item_path %>

<% @items.each do |item| %>
  <div class="card">
    <%= image_tag item.poster_url, alt: "Placeholder", width: 350 %>
    <%= item.title %>
    <%= item.platform %>
  </div>
<% end %>

<h2> My offers </h2>
<% @offers_received.each do |offer| %>
  <div>
    <%= offer.item.title %>
    <%= offer.item.platform %>
  </div>
<% end %>

<h2> My? offers </h2>
<% @offers_made.each do |offer| %>
  <div>
    <%= offer.item.title %>
    <%= offer.item.platform %>
  </div>
<% end %>
