<h1>Helloooooow Gamers</h1>

<h2> Rented items </h2>

<%= link_to "Add new item", new_item_path %>

<div class="container">

  <div class="cards-section">

    <% @items.each do |item| %>

      <div class="card">
        <div class="card-platform">
          <p><%= item.platform %></p>
        </div>

        <%# Put the image back here %>
        <% if item.photo.key %>
         <%= cl_image_tag item.photo.key, height: 450, width: 300, crop: :fill %>
        <% end %>

        <div class="card-title">
          <h2><%= item.title %></h2>
        </div>

      </div>
    <% end %>
  </div>
</div>

<h2> My offers </h2>
<% @offers_received.each do |offer| %>
  <div class="card">
    <% if offer.item.photo.key %>
     <%= cl_image_tag  offer.item.photo.key, height: 450, width: 300, crop: :fill %>
    <% end %>
    <%= offer.item.title %>
    <%= offer.item.platform %>
  </div>
<% end %>

<h2> My? offers </h2>
<% @offers_made.each do |offer| %>
  <div class="card">
    <% if offer.item.photo.key %>
     <%= cl_image_tag  offer.item.photo.key, height: 450, width: 300, crop: :fill %>
    <% end %>
    <%= offer.item.title %>
    <%= offer.item.platform %>
  </div>
<% end %>
