<% is_rated = rating.persisted? %>

<div>
  <%= simple_form_for([item, rating], html: { id: "rating-form" }) do |f| %>
    <div class="star-rating <%= 'readonly' if is_rated %>">
      <% 5.downto(1) do |i| %>
        <%= f.radio_button :value, i, id: "star#{i}", class: 'star-input', checked: (rating.value == i), disabled: is_rated %>
        <label for="star#{i}" class="star-label">★</label>
      <% end %>
    </div>

    <div class="form-group mt-2">
      <%= f.input :comment, input_html: { disabled: is_rated, rows: 3, class: "form-control" }, label: "Comment" %>
    </div>

    <% unless is_rated %>
      <%= f.submit "Submit Rating", class: "button-submit-ratings" %>
    <% else %>
      <button class="button-submit-ratings " disabled>Rating Submitted</button>
    <% end %>
  <% end %>
</div>
