<h1>Request to rent <%= @item.title %></h1>

<% if @offer.errors.any? %>
  <div style="color: red;">
    <h2><%= pluralize(@offer.errors.count, "error") %> prohibited this offer from being saved:</h2>
    <ul>
      <% @offer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: [@item, @offer]) do |form| %>
  <div>
    <%= form.label :start_date, "Start Date:" %><br>
    <%= form.date_field :start_date %>
  </div>

  <div>
    <%= form.label :end_date, "End Date:" %><br>
    <%= form.date_field :end_date %>
  </div>

  <div>
    <%= form.label :comment, "Your Message (optional):" %><br>
    <%= form.text_area :comment, rows: 5 %>
  </div>

  <div>
    <%= form.submit "Send Rental Request" %>
  </div>
<% end %>

<hr>

<h2>Play Games & Have a Fun </h2>

<p>
  <%= link_to "Back to #{@item.title} details", item_path(@item) %>
</p>
