<div class="container-edit p-5 my-5">
  <%= simple_form_for @item do |f| %>
    <%= f.input :title %>
    <%= f.input :photo, as: :file %>
    <%= f.input :genre, collection: Item::GENRES %>
    <%= f.input :platform, collection: Item::PLATFORMS %>
    <%= f.submit %>
  <% end %>
</div>
<%= link_to "go back", dashboard_path %>
