<div class="banner">
  <h1><i class="fa-solid fa-gamepad"></i> GameCorn <i class="fa-solid fa-gamepad"></i></h1>
  <h2>RENT  |  GAME  |  RETURN</h2>
</div>

<div class="container mt-4">

   <div class="form-section">
    <form action="<%= root_path %>" method="get" class="search-form">
      <input type="text" name="query" value="<%= params[:query] %>" placeholder="Type a keyword">
      <input type="submit" value="SEARCH GAME" class="button">
    </form>
  </div>

  <div class="cards-section">

    <% @items.each do |item| %>
      <%= link_to item_path(item) do %>

        <div class="card">

          <div class="card-platform">
            <div class="new-item">
              <% if item.created_at > 30.minutes.ago %>
                <span class="new-label">NEW</span>
              <% end %>
            </div>

            <p>
              <i class="<%= platform_icon(item.platform) %>"></i>
              <%= item.platform %>
            </p>
          </div>

          <% if item.photo.attached? %>
            <%= cl_image_tag item.photo.key %>
          <% else %>
            <div class="placeholder-image">No image available</div>
          <% end %>

          <div class="card-title">
            <h2><%= item.title %></h2>
              <div class="item-rating d-flex justify-content-end align-items-center w-100">
              <span class="rating-number"><%= item.average_rating.round(1) %></span>
                <div class="single-star-rating star-icon" style="--rating: <%= (item.average_rating.to_f / 5.0 * 100).round %>%;">
                  ★
                </div>
              </div>
          </div>
        </div>
      <% end %>
    <% end %>

  </div>

</div>
