<h1><%= @item.title %></h1>

<img src="<%= @item.poster_url %>" alt="Image of <%= @item.title %>">

<p><strong>Genre:</strong> <%= @item.genre %></p>
<p><strong>Description:</strong> <%= @item.description %></p>
<p><strong>Platform:</strong> <%= @item.platform %></p>

