<div class="banner">
    <h1><i class="fa-solid fa-gamepad"></i> GameCorn <i class="fa-solid fa-gamepad"></i></h1>
    <h2>RENT  |  GAME  |  RETURN</h2>
</div>

<div class="show-page">
  <div class="grid-container">

  <%# GRID LEFT %>
    <div class="grid-left">
      <div class="item-info m-4">
        <%= link_to "BACK", root_path, class:"button-back" %>

        <%# ITEM %>
        <div class="outline-container">
          <div class="item-container">
            <div class="image-container">
              <% if @item.photo.attached? %>
                <%= cl_image_tag @item.photo.key %>
              <% else %>
                <div class="placeholder-image">No image available</div>
              <% end %>
            </div>
            <div class="description-container">
              <div class="platform-container">
                <p>
                  <i class="<%= platform_icon(@item.platform) %>"></i>
                  <%= @item.platform %>
                </p>
              </div>
              <div class="text-container">
                <h2><%= @item.title %></h1>
                <p><%= @item.genre %></p>
                <p><em>"<%= @item.description %>"</em></p>
              </div>
              <%= link_to new_item_offer_path(@item) do %>
                <div class="card-button">
                  <span>RENT GAME</span>
                </div>
              <% end %>
            </div>
          </div>
        </div>
         <%= render 'ratings/form', rating: [@item, @rating] || Rating.new %>
      </div>

      <%# RATINGS %>

      <%# MAP %>
      <div class="map-container m-4">
          <div style="width: 100%; padding-bottom: 200px; position: relative;">
            <div style="position: absolute; top: 0; left: 0; width: 100%; height: 200px;"
              data-controller="map"
              data-map-markers-value="<%= @markers.to_json %>"
              data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
            </div>
          </div>
        </div>
    </div>

    <%# GRID RIGHT %>
    <div class="grid-right">
      <div class="user-info-section mx-1 mb-1">

        <hr class="mt-0" >
        <span class="mb-4">OTHER GAMES FROM: <%= @user.username %></span>
        <hr>

        <%# OTHER GAMES FROM USER %>
        <% if @user.items.excluding(@item).any? %>
          <div class="user-other-games-list">
            <% @user.items.excluding(@item).each do |other_item| %>
              <%= link_to item_path(other_item), class: "text-decoration-none text-white" do %>
                <div class="other-game-card mb-2 d-flex align-items-center">
                  <% if other_item.photo.attached? %>
                    <%= cl_image_tag other_item.photo.key, height: 90, width: 70, crop: :fill, class: "rounded border border-black border-1 me-2" %>
                  <% else %>
                    <%= image_tag "placeholder_game.jpg", height: 90, width: 70, crop: :fill, class: "rounded border-black border-1 me-2" %>
                  <% end %>
                  <div class="d-flex justify-content-between align-items-center w-100">
                    <p class = "fw-bold m-0"> <%= other_item.title  %> </p>
                    <i class="<%= platform_icon(other_item.platform) %> p-2"></i>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        <% else %>
          <p class="text-muted">This user doesn't have any more games.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
